<div>

    <h2 translate="ubwebApp.eventLocation.home.title">EventLocation</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveEventLocationModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="ubwebApp.eventLocation.home.createLabel">Create a new EventLocation</span>
    </button>
    <div class="modal fade" id="saveEventLocationModal" tabindex="-1" role="dialog" aria-labelledby="myEventLocationLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myEventLocationLabel" translate="ubwebApp.eventLocation.home.createOrEditLabel">Create or edit a EventLocation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="eventLocation.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="ubwebApp.eventLocation.location">Location</label>
                            <input type="text" class="form-control" name="location"
                                   ng-model="eventLocation.location">

                            <div ng-show="editForm.location.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="ubwebApp.eventLocation.eventAddress">EventAddress</label>
                            <input type="text" class="form-control" name="eventAddress"
                                   ng-model="eventLocation.eventAddress">

                            <div ng-show="editForm.eventAddress.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="ubwebApp.eventLocation.latitude">Latitude</label>
                            <input type="number" class="form-control" name="latitude"
                                   ng-model="eventLocation.latitude">

                            <div ng-show="editForm.latitude.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.latitude.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="ubwebApp.eventLocation.longitude">Longitude</label>
                            <input type="number" class="form-control" name="longitude"
                                   ng-model="eventLocation.longitude">

                            <div ng-show="editForm.longitude.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.longitude.$error.number" translate="entity.validation.number">
                                    This field should be a number.
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label translate="ubwebApp.eventLocation.eventId">eventId</label>
                            <select class="form-control" name="eventId" ng-model="eventLocation.eventId.id" ng-options="event.id as event.id for event in events">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteEventLocationConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(eventLocation.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="ubwebApp.eventLocation.delete.question" translate-values="{id: '{{eventLocation.id}}'}">Are you sure you want to delete this EventLocation?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="ubwebApp.eventLocation.location">Location</th>
                    <th translate="ubwebApp.eventLocation.eventAddress">EventAddress</th>
                    <th translate="ubwebApp.eventLocation.latitude">Latitude</th>
                    <th translate="ubwebApp.eventLocation.longitude">Longitude</th>
                    <th translate="ubwebApp.eventLocation.eventId">eventId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="eventLocation in eventLocations">
                    <td><a ui-sref="eventLocationDetail({id:eventLocation.id})">{{eventLocation.id}}</a></td>
                    <td>{{eventLocation.location}}</td>
                    <td>{{eventLocation.eventAddress}}</td>
                    <td>{{eventLocation.latitude}}</td>
                    <td>{{eventLocation.longitude}}</td>
                    <td>{{eventLocation.eventId.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="eventLocationDetail({id:eventLocation.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(eventLocation.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(eventLocation.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
